python==3.8

//pip install torch==1.7.1+cu110 torchvision==0.8.2+cu110 torchaudio==0.7.2 -f https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cu110

pandas==1.2.4

transformers==4.29.2

scikit-learn==1.3.1
